// Place all the styles related to the hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 60px;
}

.short_td {
  width: 30px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999999;
}

.notice {
  color: green;
}