-if @hotel.errors.any?
  -@hotel.errors.full_messages.each do |error|
    \- #{ error.to_s}
    %br
=simple_form_for @hotel, html: { class: 'form-horizontal', multipart: true } do |f|
  %fieldset
    %legend
      =controller.action_name.capitalize
      hotel:
    .control-group

      =f.input :title
      =f.input :hotel_image
      =f.input :rating, collection: %w(5 4 3 2 1), selected: 5
      =f.input :breakfast_in, collection: %w(Yes No), selected: 'Yes'
      =f.input :room_description
      =f.input :price
      =f.simple_fields_for :address do |a|
        =a.input :country, as: :string
        =a.input :state
        =a.input :city
        =a.input :street
      %br
      =f.button :submit, class: 'btn btn-primary'