-if flash[:notice]
  .notice
    = flash[:notice]
  %br
%h1 Hotel #{@hotel.title}
-if @hotel.hotel_image.exists?
  =link_to(image_tag(@hotel.hotel_image.url(:thumb)), @hotel.hotel_image.url)
-else
  =image_tag @hotel.hotel_image.url(:thumb)
%p
%p
  %b Average rating:
  %br
    #{'%.2f' % ((@hotel.comments.sum(:rating) + @hotel.rating)/(@hotel.comments.count + 1).to_f)}
%p
  %b Breakfast included:
  %br
    -if @hotel.breakfast_in
      Yes
    - else
      No
  %b Room description:
  %br
    =@hotel.room_description
%p
  %b Price:
  %br
    =@hotel.price
%p
  %h3 Address
  %b Street:
  %br
    =@hotel.address.street
  %b City:
  %br
    =@hotel.address.city
  %b State:
  %br
    =@hotel.address.state
  %b Country:
  %br
    =@hotel.address.country
%hr
%p
  %h3 Comments
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Posted
        %th by Author
        %th Rating
        %th Comment
    %tbody
      -number = 0
      -@hotel.comments.each do |comment|
        -number +=1
        %tr
          %td.short_td
            =number
          %td.short_td
            =comment.created_at.strftime("%d/%m/%Y")
          %td.short_td
            =comment.user_name
          %td.short_td
            =comment.rating
          %td
            =comment.body
%p
  = render partial: 'comments/comment'